body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
    flex-wrap: wrap;
justify-content: space-evenly;
    width:100%;

background-color: black;
}

.movie-container{

  background-color: rgb(248, 220, 220);

  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px;
  



 
 
  border:3px solid rgb(248, 221, 131);
  border-radius: 10%;
}
img{
  height:40%;
  width:50%;
  position: relative;
  left:25%;
}

nav{
  display: flex;
  justify-content:space-around;
  background-color:grey;
 
}
nav h2{
  font-weight:800;
  font-stretch: expanded;

}
nav input{
  height:40px;
  position: relative;
  top:10px;
}

button{
  color:rgb(15, 1, 1);
  padding :5px;
  background-color: rgb(203, 111, 245);
  margin: 20px;
  font-weight:bold;

}
.categories{
  background-color:rgb(240, 155, 134);
  height:50px;
}
.categories button{
  position: relative;
  top:-17px;
  color:rgb(245, 236, 236);
  padding :10px;
  background-color: rgb(7, 0, 10);
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius:30%;
}

#showtrailor{
  display:none;
  height:80%;
  width:80%;
  background-color: grey;
  position: absolute;
  top:20%;
  left:10%;
}

iframe{
  display:none;
  position: relative;
  top:15%;
  height:65%;
  width:70%;
  left:13%;
}

#close{
  display:none;
  position: absolute;
  top:350px;
  left:400px;
}

.language{
  background-color: rgb(227, 245, 225);
  border-bottom: 3px solid rgb(32, 7, 7);
  }